APP_NAME=PillSync
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1

SECRET_KEY=your_super_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pillsync
POSTGRES_DRIVER=postgresql+psycopg2

SQLALCHEMY_ECHO=true